<style>
    table,
    th,
    td {
        border: 1px solid red;
    }
</style>
<h3 style="padding-left: 2em; font-family: cursive; font-style: oblique">
    welcome to Game searching App
</h3>
<label for="name" style="padding-left: 2em">
  name
  <input
    type="String"
    ng-model="vm.name"
    name="name"
    style="border-radius: 10px"
/></label>
<button ng-click="vm.search();" style="border-radius: 6px">Search</button>
<span ng-show="vm.searchedTitleEmpty" style="color: red" ng-click="vm.searchedTitleEmpty=false">Please Insert The name of the game To Search</span
>
<div style="padding-left: 2em">
    <br />
    <div class="tableClass">
        <table>
            <tr>
                <th>title of the game</th>

                <th>detail about the game</th>
                <th>delete</th>
            </tr>
            <tr ng-if="vm.nodataFound">
                <td colspan="7">No Data Found</td>
            </tr>
            <tr ng-if="!vm.nodataFound" ng-repeat="game in vm.games">
                <td>{{game.title}}</td>

                <td>
                    <a ng-href="#!/games/{{game._id}}" style="text-decoration: none">
            details
          </a>
                </td>
                <td>
                    <button ng-click="vm.gameDelete(game._id)" style="background-color: red">
            Delete
          </button>
                </td>
            </tr>
        </table>
    </div>
    <div style="margin-top: 2%">
        <select ng-model="vm.get" on-change="vm.onGetSelect(vm.get);" style="border-radius: 5px; background-color: blue">
      <option ng-repeat="o in vm.options">{{o}}</option>
    </select>
        <div ng-if="vm.get !=0? vm.onGetSelect(vm.get):cc=true;">{{someName}}</div>

        <button ng-click="vm.previous()" style="border-radius: 6px; background-color: green">
      previous
    </button>
        <button ng-click="vm.next()" style="border-radius: 6px; background-color: green">
      next
    </button>
    </div>
    <div>
        <form name="vm.gameForm" ng-submit="vm.addGames()" style="
        color: white;
        padding: 10px 10px;
        margin: 8px 0;
        display: inline-block;
      ">
            <h5 style="font-style: oblique; font-weight: normal; font-family: cursive">
                Add new game to the form
            </h5>

            Title :<input type="text" name="title" required ng-model="vm.gameTitle" style="color: black" /><br /> Year:
            <input type="number" name="year" required ng-model="vm.gameYear" style="color: black" /><br /> Price :
            <input type="number" name="price " required ng-model="vm.gamePrice " style="color: black" /><br /> minimum Players :
            <input type="number" name="minPlayers" required ng-model="vm.gameMinPlayers " style="color: black" /><br /> maximum Player :
            <input type="number" name="maxPlayers" required ng-model="vm.gameMaxPlayers" style="color: black" /><br /> rate :
            <input type="number" name="rate" required ng-model="vm.gameRate " style="color: black" /><br />

            <button type="submit" class="btn-success">Add Game</button>
        </form>
    </div>
</div>